.docs-section{
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  height: 80vh;
  margin-top:10px;
  width: 100%;
  box-sizing: border-box;
  color: #1c1c1c;
}

.docs-sidebar{
  width:25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding-left: 0px;
}

.docs-sidebar h3{
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  margin-block:40px 10px;
}

.active-sidebar{
  border-bottom:2px solid #1c1c1c;
}

.docs-sidebar ul{
  margin-top:50%;
  list-style-type: none;
}

.docs-sidebar ul li{
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  padding-bottom:10px;
  width: 280px;
  margin-bottom:40px;
  cursor: pointer;
}

.docs-mainbar{
  width: 100%;
  background-color: #ffffff;
  color:rgb(0, 0, 0);
  height: 100%;
  padding-block:40px 10px;
  box-sizing: border-box;
}

.middle-section{
  width: 596px;
  height: 152px;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  text-align: justify;
  margin-block:10px;
}

.bottom-section{
  width: 596px;
  height: 152px;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  text-align: justify;
  margin-block:10px;
}

.bottom-section img{
  position: absolute;
  height:280px;
  right:30px;
  bottom:70px;
}

#section3{
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 100%;
  padding-right: 20px;
  width: 90%;
  margin:auto;
}

#section3 h1{
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
}

#section3 .top-section{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top:20px;
}

#section3 .middle-section{
  margin-block:15px;
}

#section3 .middle-section ul li{
  margin-block:30px;
}

#section3 .middle-section ul li h3{
  font-weight: 500;
  font-size: 20px;
  margin-bottom:10px;
  padding-bottom:5px;
  border-bottom:1px solid #1c1c1c;
  width:150px;
}

#section3 .middle-section p{
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  text-align: justify;
  width:1120px;
  margin-bottom: 10px;
}

#section3 .note-section p{
  margin-top:210px;
  font-weight: 600;
  line-height: 25px;
  text-align: justify;
  width:1120px;
  color:red;
}

#section3 .bottom-section{
  width:1120px;
  text-align: justify;
}